#image-indicators .carousel .carousel-indicators li {
    display: block;
    width: 14rem;
}
#image-indicators .carousel-indicators{
    bottom: -30px;
}
.padding-bottom{
    padding-bottom: 100px;
}
ul.size-choose,ul.color-choose,ul.cart {
    list-style-type: none;
}
li.sizes,li.colors,li.qntty,li.add-cart,li.add-wish,li.text{
    float: left;
}
li.sizes{
    border: 1px solid #ddd;
    padding: 12px 30px;
    font-size: 24px;
    margin: 10px;
}
.color-red,.color-green,.color-yellow,.color-gray,.color-ash,.color-gold {
    height: 50px;
    width: 50px;
    border: 1px solid #ddd;
    border-radius: 100px;
    margin: 20px 10px;
}
.color-red{
    background-color: #f44336!important;
}
.color-green{
    background: green;
}
.color-yellow{
    background: yellow;
}
.color-gray{
    background: gray;
}
.color-ash{
    background: seashell;
}
.color-gold{
    background: gold;
}
li.qntty input {
    height: 50px;
    width: 100px;
    padding: 30px;
    margin: 10px;
    margin-top: -10px;
}
li.add-cart button {
    height: 65px;
    width: 165px;
    margin: 10px;
    margin-top: -10px;
    font-size: 18px;
}
li.add-wish button {
    height: 65px;
    width: 165px;
    margin: 10px;
    margin-top: -10px;
    font-size: 18px;
}
.nav-tabs .nav-item .nav-link{
    color: #103f6d;
}
.description-card{
   box-shadow: none;
    border: none;
}