
.clr{
    clear: both;
}
.mb-5, .my-5 {
    margin-bottom: -2.5rem!important;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.custom-card{
    border: none;
    box-shadow: none;
}
.nav-tabs .nav-item .nav-link{
    color: #9c414a!important;
    font-weight: bold;
}
.nav-tabs .border-bottom-tab{
    border: none;
}
.nav-tabs .nav-item .nav-link:hover,.nav-tabs .nav-item .nav-link.active{
    border-bottom: 3px solid #103f6d;
    color: #103f6d;
}
.border-bottom-nav{
    border: none;
}
/***********************Navbar****************************/
a.top-nav-link {
    padding: 7px;
}
top-nav-link{
    padding: 10px 20px;
}

.top-nav {
    width: 100%;
    float: left;
    background: #222222!important;
    padding: 10px 50px;
}
.top-nav a{
    color: #ffffff;
}
.nav-bottom{
    width: 100%;
}
h1.white-text.font-weight-bold {
    position: absolute;
    top: 125px;
}
.hot-msg{
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
    background: #509abd;
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    font-weight: 500;
    position: relative;
    margin: 0 10px 0 0;
    font-style: normal;
    margin-top: 5px;
}
.hot-msg:before{
    content: "";
    width: 3px;
    height: 3px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    border-radius: 100%;
    right: 2px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hot-msg:after{
    content: "";
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid #509abd;
    position: absolute;
    right: -8px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
ul.navbar-nav.mx-auto a {
    font-weight: bold;
}
/***********************Navbar****************************/
/***********************Banner****************************/


/***********************Banner****************************/
/***********************Search and logo starts* ***************************/
#search {
    padding: 50px 150px;
}
.search-from{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
}
.md-form.input-group .input-group-text{
    background: #103f6d!important;
    border: 1px solid #103f6d;
    padding: 15px 50px;
    color: #fff;
}
.search-nav i{
    color: #222222;
}
.wish-list {
    position: absolute;
    font-size: 18px;
    top: 3px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0px 7px;
    background: #eb3e32;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    right: 105px;
}
.cart-list {
    position: absolute;
    font-size: 18px;
    top: 3px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0px 7px;
    background: #eb3e32;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    right: 15px;
}
/***********************Search and logo ends****************************/
/***********************Bottom Navbar starts****************************/
ul{
    -webkit-padding-start: 0;
}
.navbar .mega-dropdown {
    position: static !important; }

.navbar .dropdown-menu.mega-menu {
    width: 100%;
    border: none;
    border-radius: 0; }
.navbar .dropdown-menu.mega-menu.v-2 a {
    padding: 15px;
}
.megamenu-price h4 {
    color: #ffffff;
}
ul.megamenu-price {
    padding-top: 25px;
}
.navbar .dropdown-menu.mega-menu.v-2 a.news-title-2 {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    -webkit-transition: .2s;
    transition: .2s;
    color: #fff !important; }
.navbar .dropdown-menu.mega-menu.v-2 a.news-title-2:hover {
    color: #d0d6e2 !important; }
.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul {
    list-style: none; }
.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li {
    -webkit-transition: .3s;
    transition: .3s; }
.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: .3s;
    transition: .3s; }
.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li a:after {
    font-family: "fontAwesome";
    content: '\f0da';
    position: absolute;
    left: 0.5rem;
    font-size: 12px;
    top: 1rem; }
.navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item {
    color: #fff !important; }
.navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item:hover {
    color: #fff !important; }
.navbar .dropdown-menu.mega-menu.v-2 .sub-title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid; }
.navbar .dropdown-menu.mega-menu.v-2 .font-small {
    font-size: 0.85rem; }


/***********************Bottom Navbar ends****************************/
/***********************Banner Starts****************************/
.img-responsive{
    width: 100%!important;
}
.w-75{
    padding-right: 15px;
}
.img-big{
    width: 68%;
}
.img-small{
    width: 30%;
}
/***********************Banner ends****************************/
/***********************featured product starts****************************/
a#women-tab {
    color: #000;
    font-weight: bold;
}
.model-no,price{
    margin-bottom: 0;
}
.model-no{
    font-size: 14px;
    color: #0e4377;
}
.price{
    color: #388e3c;
    font-size: 12px;
}
.card-icon{
    font-size: 12px;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
    display: inline;
    float: left;
}
.disabled-link{
    color: #d6d8d9;
}
.active-link{
    color: #103f6d;
}
.slider-icon{
    font-weight: bold;
    background: #103f6d!important;
    padding: 15px;
    border: 1px solid #103f6d;
    border-radius: 7px;
    color: #fff;
}
.font-weight-bold {
    font-weight: 700!important;
    padding-left: 15px;
}
.controls-top{
    padding-right: 15px;
    padding-bottom: 20px;
}
.carousel .carousel-indicators li{
    display: none;
}
.color-picker{
    float: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 100%;
}
.ul-colors li {
    float: left;
    display: inline-block;
    position: relative;
    margin-right: 2px;
    padding: 2px;
}
.ul-colors li a{
    height: 7px;
    width: 7px;
    float: left;
    display: inline-block;
    vertical-align: center;
    border-radius: 100%;
}


/***********************featured product ends****************************/
/***********************Footer Starts****************************/
.contact-section .contact {
    -webkit-border-radius: 0 .25rem .25rem 0;
    border-radius: 0 .25rem .25rem 0;
    background-color: #103f6d;
}
.contact-section .form .btn-floating {
    float: right;
    position: relative;
    bottom: 3rem;
    margin-right: 0;
}
.fa-telegram-plane:before {
    content: "\f3fe";
    color: #fff;
    border-radius: 100px;
    padding: 20px;
}
.footer-card{
    width: 90%;
}
#footer-bottom {
    background-color: #103f6d;
    color: #ffffff;
    padding: 10px 50px;
}
/***********************Footer ends****************************/
/**********************************************************Category Page CSS*****************************************/

/*************************Banner*********************************/
.banner-view{
    height: 450px!important;
}
/*************************Banner*********************************/
/*************************Scroll*********************************/
.infinite{
    width: 100%;
    height: 400px;
    background: red;
}
/*************************Scroll*********************************/

/**********************************************************Category Page CSS*****************************************/
/**
/***********************Media Query***************************/
@media (min-width: 992px) and (max-width: 1032px){
    .fa{
        font-size: 12px;
    }
}